<th:block th:fragment="admin_chart">

	<!-- Google Chart 的 JS -->
	<script type="text/javascript"
		src="https://www.gstatic.com/charts/loader.js"></script>

	<script type="text/javascript" th:inline="javascript">
	<!-- 將輸入內容轉為 JS -->
		google.charts.load("current", {
			packages : [ "corechart" ]
		});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = google.visualization.arrayToDataTable([
					[ 'Gender', 'Quantity' ], 
					[ '男性', /*[[${maleCount}]]*/0 ],
					[ '女性', /*[[${femaleCount}]]*/0 ] ]);

			var options = {
				pieHole : 0.4,
				backgroundColor : 'transparent', // 背景透明
				colors : [ '#0066CC', '#D9006C' ]
			// 男姓藍色、女性粉色
			};

			var chart = new google.visualization.PieChart(document
					.getElementById('donutchart'));
			chart.draw(data, options);
		}

		
	</script>

	<!-- 延伸其他圖表 -->

</th:block>

