<div th:fragment="nav_items_admin" >
	<nav class="navbar navbar-expand navbar-light bg-light">
		<div class="container navbar-nav justify-content-around px-5">
			
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/admin/user-approval">
					<img src="/picture/admin-approve.png" style="height:20px" > 
					<span class="ms-2">待審核</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/admin/user-manage">
					<img src="/picture/admin-manage.png" style="height:20px" > 
					<span class="ms-2">管理用戶</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/admin/statistics">
					<img src="/picture/admin-statistic.png" style="height:20px" > 
					<span class="ms-2">統計資料</span>
				</a>
			</div>
		</div>
	</nav>
</div>