<div th:fragment="nav_items" >
	<nav class="navbar navbar-expand navbar-light bg-light fs-5">
		<div class="container-xl navbar-nav justify-content-around px-5">
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/account/all-account">
					<img src="/picture/account.png" style="height:20px" > 
					<span class="ms-2">我的帳戶</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/transaction/transfer">
					<img src="/picture/transfer.png" style="height:20px" > 
					<span class="ms-2">轉帳</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/transaction/exchange">
					<img src="/picture/exchange1.png" style="height:20px" > 
					<span class="ms-2">外匯</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/user/update">
					<img src="/picture/update-user.png" style="height:20px" > 
					<span class="ms-2">資料變更</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/transaction/exchange-rate">
					<img src="/picture/chart.png" style="height:20px" > 
					<span class="ms-2">牌告匯率</span>
				</a>
			</div>
			<div class="nav-item">
				<a class="nav-link active d-flex align-items-center"  href="/bank/account/foreign-account">
					<img src="/picture/foreign-account.png" style="height:20px" > 
					<span class="ms-2">外幣帳號申請</span>
				</a>
			</div>
			
			
		</div>
	</nav>
</div>