<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/main_login}">
<head>
<meta charset="UTF-8">
<title th:fragment="title">帳號總覽</title>
</head>
<body>

	<div th:fragment="content">

		<div class="text-center fs-1 mt-5 mb-3 ">帳號總覽</div>

		<div class="container d-flex">
			<div class="card m-3" style="width: 18rem;" th:each="account:${accounts}">
				<div class="card-body">
					<h5 class="card-title fw-bold" >
						<span th:text="${account.currency.name}" ></span>帳戶
					</h5>

					<div class="my-3">
						帳號：<span class="" th:text="${account.accountNumber}"></span>
					</div>
					<div class="mb-3">
						存款：<span class="" th:text="${account.balance}"></span>
					</div>
					<div class="mb-3">
						幣別：<span class="" th:text="${account.currency.name} + ' (' + ${account.currency.code} + ')' "></span>
					</div>

					<form th:action="@{/bank/account/{id}/transaction-history (id=${account.id})}" method="get">
						<button class="btn btn-warning border border-dark" type="submit">查詢交易紀錄</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- 將 accountId 資料傳遞 -->
	
    <!--  
	<div th:each="account:${accounts}">
		帳號：<span th:text="${account.accountNumber}"></span><br> 存款：<span
			th:text="${account.balance}"></span><br> 幣別：<span
			th:text="${account.currency.name} + ' (' + ${account.currency.code} + ')' "></span><br>

		<form
			th:action="@{/bank/account/{id}/transaction-history (id=${account.id})}"
			method="get">

			<button type="submit">查詢交易紀錄</button>
		</form>
	</div>
	-->

</body>
</html>