<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout/main_login}">
<head>
<meta charset="UTF-8">
<title th:fragment="title">牌告匯率</title>
<style>
/* 禁止 th 在 hover 時變色 */
table.table-hover thead th {
	background-color: inherit !important;
}
</style>
</head>
<body>

	<div th:fragment="content" class="fs-5">

		<div class="text-center fs-1 mt-5 mb-3 ">牌告匯率</div>   <!-- account 來自 TxHistoryPage -->

		<div class="container">
		
		    <!-- 公告 -->
		    
			<div class="row my-3">
				<div class="alert alert-warning " role="alert">
					<div>請注意！</div>
					<div>1.本表資料僅供參考，不代表實際交易匯率。</div>
					<div>2.「網路銀行」之實際交易匯率，以交易時顯示之匯率為準。</div>
					<div>3.臨櫃實際交易匯率以交易時本行匯率為準。</div>
					<div>4.本網頁牌告匯率資訊為靜態顯示，顯示之牌告匯率資訊不會隨後續異動而自動更新資訊，欲得知本行最新牌告匯率資訊請按「取得最新報價」鈕。</div>
				</div>	
			</div>

			<!-- 更新時間、按鈕 -->
			
			<div class="my-3 d-flex justify-content-between">
			
				<div class="d-flex">
					<div class="fs-5">最新掛牌時間：</div>
					<div th:text="${renewTime}" class="fs-5"></div>
				</div>
				
				<form th:action="@{/bank/transaction/exchange-rate}">
					<button class="btn btn-success">取得最新報價</button>				
				</form>
				
			</div>	
			
			<!-- 匯率表格 -->	

			<div class="row mb-5">
			
				<table class="table table-bordered table-striped text-center fs-5 table-hover">
					<thead>
						<tr>
							<th rowspan="2" class="align-middle">幣別</th>
							<th colspan="2">現金匯率</th>
							<th colspan="2">即期匯率</th>
						</tr>

						<tr>
							<th>買入</th>
							<th>賣出</th>
							<th>買入</th>
							<th>賣出</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="exchangeRate:${exchangeRates}">
							<td th:text="${exchangeRate.currencyName}"></td>
							<td th:text="${exchangeRate.cashBuy}"></td>
							<td th:text="${exchangeRate.cashSell}"></td>
							<td th:text="${exchangeRate.spotBuy}"></td>
							<td th:text="${exchangeRate.spotSell}"></td>
						</tr>
					</tbody>

				</table>

			</div>
			
		</div>
	</div>
	
	<!--  

	最新掛牌時間： <span th:text="${renewTime}"></span>
	
	<table>
		<tr>
			<td rowspan="2">幣別</td>
			<td colspan="2">現金匯率</td>
			<td colspan="2">即期匯率</td>
		</tr>

		<tr>
			<td>買入</td>
			<td>賣出</td>
			<td>買入</td>
			<td>賣出</td>
		</tr>

		<tr th:each="exchangeRate:${exchangeRates}">
			<td th:text="${exchangeRate.currencyName}"></td>
			<td th:text="${exchangeRate.cashBuy}"></td>
			<td th:text="${exchangeRate.cashSell}"></td>
			<td th:text="${exchangeRate.spotBuy}"></td>
			<td th:text="${exchangeRate.spotSell}"></td>

		</tr>

	</table>
	-->


</body>
</html>