<!DOCTYPE html>
<!-- http://localhost:8086 -->
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main}">
<head>
<meta charset="UTF-8">
<title th:fragment="title">網路銀行系統</title>
</head>

<body>

	<div th:fragment="content">

		<!-- 廣告 -->
		<div class="container">

			<div class="row justify-content-center">

				<div class="col-10">
				
					<div class="my-5 d-none d-lg-flex" >	
						<img src="/picture/index-logo.png" class="img-fluid my-5">
					</div>

					<div class="d-flex justify-content-between my-5 ">
						<div class="w-50 me-5 bg-light p-4 rounded">
							<div id="carouselExampleControls" class="carousel slide "
								data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="/picture/ESG.jpg" class="d-block w-100 rounded"
											alt="...">
										<div class="pt-3 fs-3 fw-bolder">
											<span>ESG 驅動的未來：永續發展的企業新標準</span>
										</div>
									</div>
									<div class="carousel-item">
										<img src="/picture/piggybank.jpg"
											class="d-block w-100 rounded" alt="...">
										<div class="pt-3 fs-3 fw-bolder">
											<span>每一筆儲蓄，都是對未來自己的投資</span>
										</div>
									</div>
									<div class="carousel-item">
										<img src="/picture/team.jpg" class="d-block w-100 rounded"
											alt="...">
										<div class="pt-3 fs-3 fw-bolder">
											<span>尊重與支持，成就每一位員工的職場旅程</span>
										</div>
									</div>
								</div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>

						</div>

						<div class="w-50 bg-light p-4 rounded ">
							<div class="bg-white">
								<table class="table table-transparent">
									<tr>
										<th>最新消息 </th>
									</tr>			
									<tr>	
										<td>重要通知：為了提供您更穩定和高效的服務，本行將於 YYY 年 MM 月 DD 日（星期 X）00:00 至 06:00 進行系統升級維護 </td>								
									</tr>
									<tr>	
										<td>親愛的客戶您好：本行全新推出「XX 儲蓄計畫」/「XX 信用卡」，為您的財務規劃提供更多選擇！</td>								
									</tr>
									<tr>	
										<td>靈活貸款方案：額度高，利率優惠。即日起至 YYYY 年 MM 月 DD 日申辦，更享早鳥專屬禮遇！詳情請洽分行或官網查詢。</td>								
									</tr>
								</table>
							</div>
						</div>

					</div>


					<div class="bg-light mb-5 p-3 rounded">

						<h1 class="bg-white rounded text-center p-3 m-3 border">即時匯率</h1>

						<div class="row justify-content-around">

							<div class="card p-3 m-3" style="width: 18rem;">
								<img src="/picture/USA.png" class="card-img-top" alt="USA">
								<div class="card-body">
									<p class="card-text fs-3">
										買入：<span th:text="${USexchangeRate.spotBuy}"></span>
									</p>
									<p class="card-text fs-3">
										賣出：<span th:text="${USexchangeRate.spotSell}"></span>
									</p>
								</div>
							</div>

							<div class="card p-3 m-3" style="width: 18rem;">
								<img src="/picture/EU.png" class="card-img-top" alt="EU">
								<div class="card-body">
									<p class="card-text fs-3">
										買入：<span th:text="${EUexchangeRate.spotBuy}"></span>
									</p>
									<p class="card-text fs-3">
										賣出：<span th:text="${EUexchangeRate.spotSell}"></span>
									</p>
								</div>
							</div>

							<div class="card p-3 m-3" style="width: 18rem;">
								<img src="/picture/Japan.png" class="card-img-top" alt="Japan">
								<div class="card-body">
									<p class="card-text fs-3">
										買入：<span th:text="${JPexchangeRate.spotBuy}"></span>
									</p>
									<p class="card-text fs-3">
										賣出：<span th:text="${JPexchangeRate.spotSell}"></span>
									</p>
								</div>
							</div>

							<div class="card p-3 m-3" style="width: 18rem;">
								<img src="/picture/China.png" class="card-img-top" alt="China">
								<div class="card-body">
									<p class="card-text fs-3">
										買入：<span th:text="${CNexchangeRate.spotBuy}"></span>
									</p>
									<p class="card-text fs-3">
										賣出：<span th:text="${CNexchangeRate.spotSell}"></span>
									</p>
								</div>
							</div>
						</div>
					</div>
					
					
					<div style="height:100px">					
					
					</div>

				</div>
			</div>
		</div>
	</div>
</body>
</html>