<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/main_login}">
<!-- 引入 Thymeleaf -->
<head>
<meta charset="UTF-8">
<title th:fragment="title">轉帳確認</title>

</head>
<body>

	<div th:fragment="content">

		<div class="text-center fs-1 mt-5 mb-3 ">轉帳明細</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="bg-light p-4 rounded col-md-4 p-5 ">

					<table class="table border">
						<thead>
							<tr>
								<th scope="col" colspan="2">項目明細</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">轉出帳號</th>
								<td><span th:text="${transferDto.fromAccountNumber}"></span></td>
							</tr>
							<tr>
								<th scope="row">轉入帳號</th>
								<td><span th:text="${transferDto.toAccountNumber}"></span></td>
							</tr>
							<tr>
								<th scope="row">轉帳金額</th>
								<td><span th:text="${transferDto.amount}"></span></td>
							</tr>
							<tr>
								<th scope="row">轉帳備註</th>
								<td><span th:text="${transferDto.description}"></span></td>
							</tr>
						</tbody>
					</table>
					
					<div class="d-flex justify-content-around">
					
						<form th:action="@{/bank/transaction/transfer/confirm}"
						th:object="${transferDto}" method="post">
	
							<input type="hidden" th:field="*{fromAccountNumber}">
							<input type="hidden" th:field="*{toAccountNumber}">	
							<input type="hidden" th:field="*{amount}">
							<input type="hidden" th:field="*{description}">
						
							<button type="submit"  class="btn btn-lg mt-5" style="background-color:#02DF82">確認轉帳</button>
					    </form>
						
						<form th:action="@{/bank/transaction/transfer}" method="get">
							<button type="submit" class="btn btn-lg mt-5 btn-danger" onclick="alert=('交易取消');">取消交易</button>
						</form>	
					</div>
				</div>

				
			</div>
		</div>



	</div>



	<!--  
	<h1>交易明細</h1>

	<table class="table">
		<tr>
			<td>項目</td>
			<td>明細</td>
		</tr>
		<tr>
			<td>轉出帳號</td>
			<td><span th:text="${transferDto.fromAccountNumber}"></span></td>
		</tr>
		<tr>
			<td>轉入帳號</td>
			<td><span th:text="${transferDto.toAccountNumber}"></span></td>
		</tr>
		<tr>
			<td>轉帳金額</td>
			<td><span th:text="${transferDto.amount}"></span></td>
		</tr>
		<tr>
			<td>轉帳備註</td>
			<td><span th:text="${transferDto.description}"></span></td>
		</tr>

	</table>

	<form th:action="@{/bank/transaction/transfer/confirm}"
		th:object="${transferDto}" method="post">

		<input type="hidden" th:field="*{fromAccountNumber}">
		<p />
		<input type="hidden" th:field="*{toAccountNumber}">
		<p />
		<input type="hidden" th:field="*{amount}">
		<p />
		<input type="hidden" th:field="*{description}">
		<p />

		<button type="submit">確認轉帳</button>
		<br>
	</form>

	<form th:action="@{/bank/transaction/transfer}" method="get">
		<button type="submit" onclick="alert=('交易取消');">取消交易</button>
		<br>
	</form>

	-->

</body>
</html>